#outer-container{
  height:100vh;
  width:100vw;
  background-image:url('../assets/Capture d’écran 2017-10-25 à 12.13.12.png')
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 24px;
    right: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background:grey;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: pink;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 20px;
    width: 20px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: pink;
  }
 
  
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100vh;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background:rgba(128, 128, 128, 0.5);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius:20px 0 0 20px

  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size:18px;
    margin-top:5px;
    text-decoration:none;
    color:pink
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.116);
  }